/* 這裡的class名稱是共用的，故建議加前綴字以區別，例如「t1_」(代表template 1) 
若css樣式有衝突，將以此檔案的順序為主，越下面的會覆蓋上面的。
*/
.t3_your_class {
    @apply text-sm;
    color: blue;
  }
  .t3_p {
    @apply text-sm;
    color: #bebebe;
  }
  .t3_title {
    @apply text-lg font-bold leading-5;
  }
  .t3_secondary-title {
    @apply text-sm font-bold;
    color: #bebebe;
  }
  .t3_detailTable-row {
    @apply flex justify-between p-5 border border-gray-200 rounded-2xl text-sm mb-3;
  }
  
  .t3_bs-divide-gray > * + * {
    /* border-color: #D8D8D8; */
  }
  .t3_max-w-360 {
    max-width: 90rem;
  }
  .t3_h-15 {
    height: 3.75rem;
  }
  .t3_flex-3 {
    flex: 3 3 0%;
  }
  .t3_flex-4 {
    flex: 4 4 0%;
  }
  .t3_flex-8 {
    flex: 8 8 0%;
  }
  .t3_min-w-68 {
    min-width: 17rem;
  }
  .t3_max-w-96 {
    max-width: 24rem;
  }
  