
/* @import './a1.css'; */

/* @import './a2.css'; */

/* @import './a3.css'; */


/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@layer base{
   p{
      @apply text-sm bs-text-gray;
   }
   img{
      max-width: 100%;
      height: auto;
   }
}

@import 'tailwindcss/components';
@layer components {
   .title{
      @apply text-lg font-bold leading-5;
   }
   .secondary-title{
      @apply text-sm font-bold  bs-text-gray;
   }
   .detailTable-row{
      @apply flex justify-between p-5 border border-gray-200 rounded-2xl text-sm mb-3;
   }
}

@import 'tailwindcss/utilities';
@layer utilities {
   .bs-text-gray{
      color: #BEBEBE;
   }
   .bs-divide-gray > * + *{
      border-color: #D8D8D8;
   }
   .min-w-68{
      min-width: 17rem;
   }
   .max-w-96{
      max-width: 24rem;
   }

}
