@import "tailwindcss/utilities";
@layer utilities {
    .page-break {
        page-break-after: always;
    }
    .text-justify {
        text-align: justify;
        text-align-last: justify;
    }
    .footer {
        font-size: 10pt;
        position: running(footer);
    }
    .grayscale {
        filter: grayscale(100%);
    }
    .serial {
        font-size: 12pt;
        transform-origin: center;
        transform: scale(0.2);
    }
    .watermark {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
    .watermark>img {
        width: 120%;
        opacity: 0.3;
        margin-top: -3rem;
        margin-left: -4rem;
    }
    ol.chinese {
        list-style-type: cjk-ideographic;
    }
    .text-indent {
        text-indent: 1rem;
    }
    .text-justify-last {
        text-align: justify;
        text-align-last: left;
    }
    td {
        @apply border-2 border-black;
    }
    .vertical {
        writing-mode: vertical-rl;
    }
    .bg-ruri {
        --tw-bg-opacity: 1;
        background-color: #3b82f6;
    }
    .text-primary {
        --tw-text-opacity: 1;
        color: #6da4d8;
    }
    .text-belstarRed {
        --tw-text-opacity: 1;
        color: #ff3860;
    }
    .text-belstarGray {
        --tw-text-opacity: 1;
        color: #6b7280;
    }
    .text-ruri {
        --tw-text-opacity: 1;
        color: #3b82f6;
    }
    .border-ruri {
        --tw-border-opacity: 1;
        border-color: #3b82f6;
    }
    .text-title {
        --tw-text-opacity: 1;
        color: #737A87;
    }
    .text-font {
        --tw-text-opacity: 1;
        color: #6B7280;
    }
}